node_modules/
.expo/
dist/
*.tar.gz
uploads/
# Ignore everything except savdo_customer_app
/*
/savdo_customer_app/node_modules
/savdo_customer_app/.expo
/savdo_customer_app/dist
/savdo_customer_app/build
