node_modules/
.expo/
dist/
*.tar.gz
backend/
admin_panel/
seller_panel/
desktop_app/
mobile_app/
savdo_mobile_app_new/
uploads/
scripts/
# Ignore everything except savdo_customer_app
/*
!/savdo_customer_app
/savdo_customer_app/node_modules
/savdo_customer_app/.expo
/savdo_customer_app/dist
/savdo_customer_app/build
